.user-img {
    max-width: 25px;
    vertical-align: middle;
}
.coin-img{
    vertical-align: middle;
    max-width: 25px;
}
.coin-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width:100%;

  }
.coin-card a {
    text-decoration: none;
    color: inherit;
}
.one-day-change {
  color: red;
}
.line{
  display: flex;
  flex-direction: row;
  max-width: 1800px;
}
.coin-container{
    display: flex;
    flex-direction: column;
}
.home-header-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-elements{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 40px 10px;
    text-align: center;
}
.search-card-elements{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* grid-gap: 40px 0px; */
text-align: center;}

.form-container{
    text-align: center;
}
.input-bar{
    width: 250px;
    height: 25px;
}