.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    font-size: 20px;
  }
  
  .nav-links a {
    margin-right: 10px; 
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .user-actions span {
    display: flex;
    align-items: center;
  }
  .user-img{
    border-radius: 24px;
  }