.coin-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width:100%;
  }
.coin-card a {
    text-decoration: none;
    color: inherit;
}
.one-day-change {
  color: red;
}
.bar{
  display: flex;
  flex-direction: row;
  max-width: 1800px;
}
.line{
}
.doughnut{}